<h1>Sign Up Below:</h1>
<div class='register'>
<form action='/registrations' method='post'>
<label for='name'>
Name: <br>
</label>
<input type='text' name='name'>
<label for='email'>
<br>Email: <br>
</label>
<input type='text' name='email'>
<label for='password'>
<br>Password: <br>
</label>
<input type='text' name='password'>
<input type='submit' value='Sign Up'> 
</form>
</div>